.wrapper {
  width: 1400px;
  margin: 0px auto;
  position: relative;
}

@media screen and (769px <= width <= 1400px) {
  .wrapper {
    width: 100%;
    padding: $laptop-padding;
  }
}

@media screen and (0px <= width <= 768px) {
  .wrapper {
    width: 100%;
    padding: $mobile-padding;
  }
}
