.header {
  width: 100%;
  padding: 40px 20px;
  position: sticky;
  top: 0;
  z-index: $over-layer;
  @include flex(space-between);
  .logo {
    @include flex;
    gap: 7.21px;
    h1 {
      font-size: 36px;
    }
  }
  // .links {
  // }
  .inputs {
    padding: 5px 23px 5px 6px;
    border: 1px solid #e0e0e0;
    border-radius: 33px;
    @include flex;
    gap: 12px;
    button {
      background: $dark-green;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      @include flex;
      &:hover {
        svg {
          fill: $yellow;
        }
      }
    }
    span {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 18px;
      color: $dark-green;
      text-align: center;
      vertical-align: middle;
    }
  }
}
