.header {
  width: 100%;
  padding: 40px 20px;
  position: sticky;
  top: 0;
  z-index: $over-layer;
  background-color: #fff;
  @include flex(space-between);
  .logo {
    @include flex;
    gap: 7.21px;
    h1 {
      font-size: 36px;
    }
  }
  .icon_menu {
    display: none;
    gap: 20px;
  }
}
.scrolled_menu {
  background-color: green;
}

@media screen and (0px <= width <= 900px) {
  .header {
    .responsive_container {
      display: none;
    }
    .icon_menu {
      display: flex;
      @include flex;
      flex-direction: column;
      align-items: end;
    }
  }
}
